:root {
  --color-pink-primary: #D8528F;
  --color-white-primary: #fff;
  --color-light-pink: hwb(340 78% 3%);
  --color-purple-primary: #8b395d;
  --color-light-gray: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-white-primary);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 2rem;
}

h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

h4 {
  padding-top: 2%;
  color: var(--color-purple-primary);
}

ul {
  list-style-type: none;
}

.headerItems {
  width: 100%;
  height: auto;
  display: flex;
}

.logoPosition {
  width: auto;
  height: auto;
  padding: 2%;
}

.logoStyle {
  width: 30%;
  height: auto;
}

.menu {
  width: 100%;
  display: block;
}

.menu ul li {
  display: inline;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: var(--color-pink-primary);
  padding: 3%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--color-purple-primary);
  border-bottom: solid 2px var(--color-purple-primary);
}

.dropDownIcon, .menuResponsiveness {
  display: none;
}

.topContainer {
  width: 100%;
  background-color: var(--color-pink-primary);
  color: var(--color-light-gray);
}

.titleStyle {
  color: var(--color-pink-primary);
}

.textPosition{
  width: 100%;
  padding-bottom: 2%;
}

.textStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding-left: 2%;
  line-height: 1.5rem;
  font-weight: 500;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.imagePosition {
  width: 100%;
  height: auto;
}

.imageStyle{
  width: 100%;
}

.textContentStyle {
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: center;
}

.subtitleStyle {
  color: var(--color-purple-primary);
}

.centerContainerPosition {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
  animation: fadeIn 10s;
}

.boxContainerStyle {
  width: 33%;
  text-align: center;
  line-height: 1.5rem;
  padding: 4%;
}

.positionFooter{
  width: 100%;
}

.footerStyle {
  background-color: var(--color-pink-primary);
  color: var(--color-white-primary);
  text-align: center;
  line-height: 1.30rem;
  padding-bottom: 2%;
}

.addressStyle a {
  text-align: center;
  text-decoration: none;
  color: var(--color-light-pink);
}

.footerTextStyle {
  width: 80%;
  word-wrap: break-word;
  text-align: center;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media(max-width: 950px) {
  h1 {
    width: 80%;
    font-size: 1.5rem;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.1rem;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
  }
  .textStyle, .textContentStyle {
    font-size: 1rem;
    width: 80%;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;

  }
  .footerTextStyle  {
    width: 80%;
    font-size: 0.75rem;
    word-wrap: break-word;
    margin: 0 auto;
  }
}

@media (min-width: 0px) and (max-width: 700px) {
  h1 {
    font-size: 1.1rem;
  }

  .centerContainerPosition {
    width: 100%;
    display: block;
  }

  .boxContainerStyle {
    width: 80%;
    margin: 0 auto;
    word-wrap: break-word;
  }

  .horizontalMenu {
    display: none;
  }

  .menuResponsiveness{
    display: flex;
    padding-right: 2%;
    padding-top: 1%;
  }

  .dropDownIcon {
    display: block;
  }

  .dropDownMenu {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    color: var(--color-pink-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropDownMenu:hover .dropdown-content {
    display: block;
  }

  .logoStyle {
    width: 40%;
    height: auto;
  }

}