:root {
  --color-pink-primary: #D8528F;
  --color-background-primary: #fff;
  --color-link-primary: hwb(340 78% 3%);
  --color-menu-hover: #8b395d;
  --color-top-container: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-background-primary);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 2rem;
}

h2, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 1%;
}

h4 {
  padding-top: 2%;
  color: var(--color-menu-hover);
}

.headerItems {
  width: 100%;
  height: auto;
  display: flex;
}

.logoPosition {
  width: auto;
  height: auto;
  padding: 2%;
}

.logoStyle {
  width: 30%;
  height: auto;
}

.menu {
  width: 100%;
}

.menu ul li {
  display: inline;
  justify-content: center;
  align-items: center;
}

.menu ul li a {
  color: var(--color-pink-primary);
  padding: 3%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--color-menu-hover);
  border-bottom: solid 2px var(--color-menu-hover);
}

.topContainer {
  width: 100%;
  background-color: var(--color-pink-primary);
  color: var(--color-top-container);
}

.titleStyle {
  color: var(--color-pink-primary);
}

.textPosition{
  width: 100%;
  padding-bottom: 2%;
}

.textStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  padding-left: 2%;
  line-height: 1.5rem;
  font-weight: 500;
}

.imagePosition {
  width: 100%;
  height: auto;
}

.imageStyle{
  width: 100%;
}

.textContentStyle {
  text-align: center;
  font-size: 1.2rem;
}

.subtitleStyle {
  color: var(--color-menu-hover);
}

.centerContainerPosition {
  width: 100%;
  display: flex;
  padding-bottom: 2%;
}

.boxContainerStyle {
  width: 33%;
  text-align: center;
  line-height: 1.5rem;
  padding: 4%;
}

.positionFooter{
  width: 100%;
}

.footerStyle {
  background-color: var(--color-pink-primary);
  color: var(--color-background-primary);
  text-align: center;
  line-height: 1.30rem;
  padding-bottom: 2%;
}

.addressStyle a {
  text-align: center;
  text-decoration: none;
  color: var(--color-link-primary);
}
